@tailwind base;

@layer base {
  @font-face {
    font-family: 'Bogart';
    font-style: normal;
    font-weight: 500;
    src: url('~assets/fonts/Bogart-500.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 600;
    src: url('~assets/fonts/Whitney-600.otf') format('opentype');
  }
}
